[submodule "howler"]
	path = howler
	url = https://github.com/goldfire/howler.js.git
[submodule "image-map-resizer"]
	path = image-map-resizer
	url = https://github.com/davidjbradshaw/image-map-resizer.git
